h2 Perfect Features
h4 Only necessary
.fbp
  .fbc
    img(src="../images/features_icon1.png")
    h3 Usability
    p Sometimes the simplest things are the hardest to find. So we created a new line for everyday life
  .fbc
    img(src="../images/features_icon2.png")
    h3 Parallax Effect
    p Sometimes the simplest things are the hardest to find. So we created a new line for everyday life
  .fbc
    img(src="../images/features_icon3.png")
    h3 Unlimited Colors
    p Sometimes the simplest things are the hardest to find. So we created a new line for everyday life
