
.fbp
  .fbc.left
    .wrap
      h2 Get the most fun weather app
      p Simple nice and user-friendly application of the weather. Only useful information
      .btnwrap
        a(href="#").btnorange Download
        a(href="#").btnblue Features
  .fbc.right
    .wrap.circlewrap
      .crl
        //- 1
        p 9&#176;
      .crl
        //- 2
        p London
      .crl
        //- 3
        p Sunny
      .crl
        //- 4
        p Rio
      img(src="../images/header_phone.png", alt="Weather app on iPhone")

.downarrow
  .crl
    p ^
