.wrap.bndbox
  h1 <span class="h1fun">Fun</span> Weather.
  .navlinks
    a(href="slashies/slashies.html") Home
    a(href="#") Features
    a(href="#") Reviews
    a(href="#") Download
  .navicons
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
