.fbp
  .fbc.content
    h2 How To Download The App?
    .wrap
      p Just download the app from the store. <br>Simple, nice and user-friendly application of theweather. Only relevant and useful information.
    .dwlstorewrap
      img(src="../images/download_appstore.png", alt="Download from the App Store.")
      img(src="../images/download_play.png", alt="Download from Google Play.")
  .fbc.phonepics
    img(src="../images/download_cloudy.png").dwncloudy
    img(src="../images/screenshots_sunny.png", alt="A phone running the Fun Weather app.").dwnsunny
    img(src="../images/download_rainy.png").dwnrainy
