h2 What People Are Saying
h4 Reviews

.fbp
  .fbc
    .openquotewrap
      p.openquote &#8220;
    p.quote What art offers is space - a certain breathing room for the spirit.
    p.reviewname John Updike
    p.closequote &#8221;
  .fbc
    .openquotewrap
      p.openquote &#8220;
    p.quote We do not see nature with our eyes, but with our understandings and our hearts.
    p.reviewname William Hazlitt
    p.closequote &#8221;
  .fbc
    .openquotewrap
      p.openquote &#8220;
    p.quote The only courage that matters is the kind that gets from one moment to the next.
    p.reviewname Mignon McLaughlin
    p.closequote &#8221;
  .fbc
    .openquotewrap
      p.openquote &#8220;
    p.quote No man has a good enough memory to be a successful liar. 
    p.reviewname Abraham Lincoln
    p.closequote &#8221;
