h2 Screenshots
h4 The brightest images

.fbp.wraprev
  .fbc.fbcimg.sscloud
    .circlewrap
      .crl
        p Cloudy
      .crl
        p.temp 15&#176;
    img(src="../images/screenshots_cloudy.png")
  .fbc
    img(src="../images/screenshots_icon1.png")
    h3 When the Clouds
    p Variable information on the air humidity, the feeling of the weather, and the ability to share this with your friends
    p.weatherinfo 95% 9&#176; Rainy

.fbp.fbpsun
  .fbc
    img(src="../images/screenshots_icon2.png")
    h3 When the Sun
    p Sometimes the simplest things are the hardest to find. So we created a new line for everyday life. Sometimes the simplest things are the hardest to find. So we created a new line for everyday life. Sometimes the simplest things are the hardest to find. So we created a new line for everyday life. Sometimes the simplest things are the hardest to find. So we created a new line for everyday life
    p.weatherinfo 95% 9&#176; Rainy
  .fbc.fbcimg.sssun
    .circlewrap
      .crl
        p Sunny
      .crl
        p.temp 35&#176;
    img(src="../images/screenshots_sunny.png")

.fbp.wraprev
  .fbc.fbcimg.ssrain
    .circlewrap
      .crl
        p Rainy
      .crl
        p.temp 9&#176;
    img(src="../images/screenshots_rainy.png")
  .fbc
    img(src="../images/screenshots_icon3.png")
    h3 When the Rain
    p Sometimes the simplest things are the hardest to find. So we created a new line for everyday life. Sometimes the simplest things are the hardest to find. So we created a new line for everyday life. Sometimes the simplest things are the hardest to find. So we created a new line for everyday life. Sometimes the simplest things are the hardest to find. So we created a new line for everyday life
    p.weatherinfo 95% 9&#176; Rainy
