h2 Simple widgets
h4 Drag and Drop
.fbp
  .fbc.vertcntr
    img(src="../images/widgets_leftarrow.png")
  .fbc.widgetimages
    img(src="../images/widgets_imgleft.png").leftimg
    img(src="../images/widgets_imgcenter.png", alt="A phone showing Fun Weather's widgets").middleimg
    img(src="../images/widgets_imgright.png").rightimg
  .fbc.vertcntr
    img(src="../images/widgets_rightarrow.png")
