header.navbar
    .pagewrap
      h1.logotext Nathan Adams
      img(src="assets/img/logo.svg")
      nav
        a(href="#").active Home
        a(href="#") Services
        a(href="#") Features
        a(href="#") Portfolio
        a(href="#") Contact
    
