header.hero
  //- .pagewrap
  p 
    | '"I'm looking for the unexpected.'<br>
    | 'I'm looking for things I've never seen before."'

section.services
  article.pagewrap
    .headerwrap
      h2 Services
    .row.content
      .col.col--1-of-3
        .wrap
          .imgwrap
            img(src="assets/img/icon_webdesign.svg", alt="Web Design", width="100%")
          h3 Web Design
          p 
            | Responsive Web Design is the single best way to grow your company! It gives a home to your company and gives your clients a way to find you. I have over 3 years of experiance creating quality websites that are custom taylored to the clients needs.
      .col.col--1-of-3
        .wrap
          .imgwrap
            img(src="assets/img/icon_videoediting.svg", alt="Video Editing", width="100%")
          h3 Video Editing
          p
            | A great commercial is sure to wow your clients. I work hard to make professional videos that are sure to convert sales and take your business to the next level! 
      .col.col--1-of-3
        .wrap
          .imgwrap
            img(src="assets/img/icon_graphicdesign.svg", alt="Graphic Design", width="100%")
          h3 Graphic Design
          p
            | Whether a logo, flyer, or busines card, when it comes to graphic design, I can create exactly what you need. 
    .row.skillicons
      .col.col--1-of-3
        img(src="assets/img/skillicons/icon_html.svg", alt="HTML 5", height="100%", class="first skillicon")
        img(src="assets/img/skillicons/icon_css.svg", alt="CSS 3", height="100%", class="skillicon")
        img(src="assets/img/skillicons/icon_javascript.svg", alt="JavaScript", height="100%", class="skillicon")
        img(src="assets/img/skillicons/icon_jquery.svg", alt="jQuery", height="100%", class="skillicon")
        img(src="assets/img/skillicons/icon_wordpress.svg", alt="Wordpress", height="100%", class="skillicon")
      .col.col--1-of-3
        img(src="assets/img/skillicons/icon_premere.svg", alt="Adobe Premere", height="100%", class="first skillicon")
        img(src="assets/img/skillicons/icon_aftereffects.svg", alt="Adobe After Effects", height="100%", class="skillicon")
        img(src="assets/img/skillicons/icon_prelude.svg", alt="Adobe Prelude", height="100%", class="skillicon")
      .col.col--1-of-3
        img(src="assets/img/skillicons/icon_photoshop.svg", alt="Adobe Photoshop", height="100%", class="first skillicon")
        img(src="assets/img/skillicons/icon_illustrator.svg", alt="Adobe Illustrator", height="100%", class="first skillicon", class="skillicon")
        img(src="assets/img/skillicons/icon_indesign.svg", alt="Adobe InDesign", height="100%", class="skillicon")
    .marginbottom
      
section.portfolio
  article.pagewrap
    .topwrap
      h2 Portfolio
      .portfoliobuttonwrap
        //- button(type="button" id="portfoliotab-all" class="portfoliotab portfoliotabactive") All
        button(type="button" id="portfoliotab-website" class="portfoliotab portfoliotabactive") Websites
        button(type="button" id="portfoliotab-video" class="portfoliotab") Videos
        button(type="button" id="portfoliotab-graphic" class="portfoliotab") Graphics
    .sliderwrap-main
      .sliderwrap-inner1
        .row
          .col.col--1-of-8#portfolio-0
          .col.col--1-of-8#portfolio-1
          .col.col--1-of-8#portfolio-2
          .col.col--1-of-8#portfolio-3
          .col.col--1-of-8#portfolio-4
          .col.col--1-of-8#portfolio-5
          .col.col--1-of-8#portfolio-6
          .col.col--1-of-8#portfolio-7
        
    .bottomwrap
      //- .buttonwrap
      //-   button(type="button" class="portfolio-arrow" id="porfolio-left") <
      //-   button(type="button" class="portfolio-arrow" id="porfolio-right") >
      button(type="button" href="#") See All
  
section.video
  article.pagewrap
    .row
      .col.col--1-of-2
        h2 Just Default section
        p
          | Bear claw marzipan bear claw applicake I love muffin. Lemon drops gummi bears pastry gummi bears sesame snaps I love unerdwear.com. Soufflé cotton candy dessert candy ice cream wafer gummies cheesecake brownie.
          | Muffin chupa chups jelly beans sweet pie applicake. Croissant chocolate cake I love pudding. Ice cream I love powder pudding apple pie marshmallow. Cupcake marzipan oat cake bonbon I love candy canes toffee.
        button(type="button") Visit Me
      .col.col--1-of-2

section.linkedin
  article.pagewrap
    .headerwrap
      h2 LinkedIn
    h3 Network, keep updated, view my skills and digital resume.
    a(href="https://www.linkedin.com/in/nathan-adams-88472b142/" class="anchorbutton") View My Profile
    //- https://www.linkedin.com/in/nathan-adams-88472b142/
    .linkedin-logo
      i(class="fa fa-linkedin-square" aria-hidden="true")
    
section.about
  article.pagewrap
    .row
      .col.col--1-of-2
        .headerwrap
          h2 Who is Nathan?
        p
        | After Highscool, I moved from Seattle to the Four Corners region in the late summer of 2016 to do volunteer work in Bible education. I needed a way to work part time to support myself. I noticed that many local small businesses don’t have websites so I decided to learn how to write code, and Web Design quickly became a passion of mine.<br><br>
        | I take pride in making sure that the client is happy with my work. My job is to help the client grow their business by offering my skills in professional design and digital media.        
      .col.col--1-of-2

section.testimonials
  article.pagewrap
    h2 Testimonials
    p 
      | Applicake chocolate cake wafer toffee pie soufflé wafer. Tart marshmallow wafer macaroon cheesecake jelly. Gingerbread cookie soufflé sweet roll sweet roll jelly-o.
    p.author -Walter White

section.contact
  article.pagewrap
    h2 Contact
    .row
      .col.col--1-of-2
        form(action="#" id="contactform")
          p Full Name
          input(type="text" name="fullname")
          p Email
          input(type="text" name="email")
      .col.col--1-of-2
        p
          | Jujubes bear claw croissant wafer sweet lemon drops brownie chocolate bar. Sweet lollipop halvah tootsie roll cake fruitcake. Chocolate cake chocolate bar gingerbread lollipop tart. Jujubes bear claw donut chupa chups.
        //- Remember that lynda thing where she used javascript to add sementics...? Do that here!
        p.name Nathan Adams
        p.address 7 Rd 6788<br> Fruitland, NM 87416
        p.phonenumber (505) 387-9456
    p Message
    textarea(rows="10" cols="75" name="message" form="contactform")
    button(type="submit" form="contactform") Message
footer
  .pagewrap
    a(href="#") Home
    a(href="#") Services
    a(href="#") Portfolio
    a(href="#") Contact
    p.copyright &#169; 2017 | Nathan Adams
